{{- $email := promptStringOnce . "email" "User Email Address" -}}
{{- $name := promptStringOnce . "name" "User Name" -}}
{{- $editor := promptStringOnce . "editor" "Default Editor" -}}
#{{- $pager := promptStringOnce . "pager" "Default Pager" -}}
{{- $gitSigningKey := promptStringOnce . "gitSigningKey" "Git Signing Key" -}}

[data]
  # User
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  editor = {{ $editor | quote }}
  #pager = {{ $pager | quote }}

  # Git
  gitSigningKey = {{ $gitSigningKey | quote }}
